td, th {
    font-size: 30px;
    border-left: black 1px solid;
    border-top: black 1px solid;
    min-width: 70px;
    text-align: center;
}

.pos {
    color: green;
}

.neg {
    color: red;
}

.rowStart {
    font-weight: bold;
}